body{
font-family : 'Roboto',sans-serif;
}
.nav-text{
letter-spacing : .2em;
font-size :14px;
text-transform: uppercase;
}
.dropdown-text{
letter-spacing : .2em;
font-size :14px;
text-transform: uppercase;
}
.my_footer{
background-color: lightgreen;
height: 80px;
}
.my_footer p{
padding-top: 20px;
font-size : 14px;
}
/***category page***/
.my_row_class{
padding-top : 15px;
}
.my_row_class .mx_auto{
color:black;
font-size: 12px;
}
.my_image{
width:100%;
height:auto;
}
.my_title{
font-size :16px;
text-transform: uppercase;
letter-spacing : .2em
}
.my_image_padding{
padding :5px;
}
.my_bottom_margin{
margin-bottom: 10px;
}
.card-body h4{
font-size:14px;
letter-spacing: .2em;
text-transform: uppercase;
}
/*** product page***/
.my_prod_row_class{
padding-top: 15px;
padding-bottom: 20px;
}
.my_prod_row_class .mx_auto{
color:black;
font-size:12px;
text-decoration:none;
}
.my_prod_title{
letter-spacing: .2em;
font-size: 16px;
text_transform: uppercase;
padding-top: 15px;
padding-bottom: 10px;
}
.my_prod_text{
padding-right: 20px;
}
.my_title{
letter-spacing: .2em;
text_transform: uppercase;
font-size: 12px;
}
/***Search page***/
.my_search_title{
padding-top: 20px;
}
/***Cart Page***/
.my_custom_table{
min-width:400px;
font-size:14px;
}
.my_custom_thead{
font-weight:normal;
text_transform:uppercase;
letter-spacing: .2em;
background-color:pink !important;
}
.custom_a{
text-decoration:none;
}
.custom_icon{
text-decoration:none;
color:blue !important;
}
.my_custom_button{
margin-top:5px;
}